<div align="center">
  <mat-card class="main_card">
    <mat-card-title>Inscription</mat-card-title>
    <br>
    <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
      <mat-label>Nom</mat-label>
      <input matInput placeholder="B Goode" type="text" [(ngModel)]="nom">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
      <mat-label>Prénom</mat-label>
      <input matInput placeholder="Johnny" type="text" [(ngModel)]="prenom">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
      <mat-label>Téléphone</mat-label>
      <input matInput placeholder="06 12 34 56 78" type="text" [(ngModel)]="tel">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
      <mat-label>Email</mat-label>
      <input matInput placeholder="azerty@qsdf.fr" type="text" [(ngModel)]="mail">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
      <mat-label>Adresse</mat-label>
      <input matInput placeholder="3 rue de la Hess" type="text" [(ngModel)]="adresse">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
      <mat-label>Code postal</mat-label>
      <input matInput placeholder="75001" type="text" [(ngModel)]="code_postal">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
      <mat-label>Ville</mat-label>
      <input matInput placeholder="South Park" type="text" [(ngModel)]="ville">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
      <mat-label>Mot de passe</mat-label>
      <input matInput placeholder="********" type="password" [(ngModel)]="password">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
      <mat-label>Confirmer le mot de passe</mat-label>
      <input matInput placeholder="********" type="password">
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="register()">S'inscrire</button>
    <br>
    <h3>
      Vous possédez déjà un compte? <a [routerLink]="['/connexion']">Se connecter</a>
    </h3>
  </mat-card>
</div>