<div align="center">
  <mat-card class="main_card">
    <mat-card-title>Connexion</mat-card-title>
    <br>
    <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
      <mat-label>Email</mat-label>
      <input matInput placeholder="azerty@qsdf.fr" type="text" [(ngModel)]="entered_login">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
      <mat-label>Mot de passe</mat-label>
      <input matInput placeholder="********" type="password" [(ngModel)]="entered_password">
    </mat-form-field>
    <br>
    <div *ngIf="text" class=alert-danger>{{text}}</div>
    <br>
    <button mat-raised-button (click)="login()" >Se connecter</button>
    <br>
    <h3>
      Vous ne possédez pas de compte? <a [routerLink]="['/inscription']">S'inscrire</a>
    </h3>
  </mat-card>
</div>