.main_content{
  display: flex;
  flex-flow: row wrap;
}

.inner_card{
  min-width: 200px;
}

.top_button{
  // color: #fd651b;
  background-color: #fd651b;
  margin:10px 10px 10em 0;
}

.button{
  // color: #fd651b;
  background-color: #fd651b;
  margin:10px 10px 10em 0;
  align-content: center;

}

.back{
  background-color: #75fd1b;
  text-align: center;
}

